<% include header %>

<h1><%-title %></h1>

<p><%- error %></p>

<form action="/login" method="post">

  <label for="username">Username </label>
  <input type="text" name="username" id="username">

  <label for="password">Password </label>
  <input type="password" name="password" id="password">

  <input type="submit" value="Log In">
</form>
<a href="/signup">Sign Up</a>
<a href="/forgotten-password">Forgotten Password</a>


<% include footer %>
